name: mcp-lambda-ecr-apps
run-name: ${{ github.event_name }} on ${{ github.ref_name }} by @${{ github.actor }} inputs ${{ github.event.inputs.environment }} ${{ github.event.inputs.action }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
      action:
        description: 'Action to perform'
        required: true
        default: 'plan'
        type: choice
        options:
          - plan
          - apply

env:
  AWS_REGION: "ap-northeast-1"
  TF_VERSION: "1.11.4"
  TF_WORKING_DIR: "./services/mcp-lambda-ecr"

permissions:
  id-token: write
  contents: read

jobs:
  plan_apply_apps:
    name: "Plan/Apply Apps"
    runs-on: ubuntu-24.04-arm
    environment: ${{ github.event.inputs.environment }}
    strategy:
      fail-fast: false
      matrix:
        # NOTE: if you want to add more apps, add them here
        app_name:
          - mcp-client
          - mcp-server-example

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.MCP_LAMBDA_ECR_TERRAFORM_IAM }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@d63b14614fe5d7fc5e5e52c523dea4e876816cc4 # v2.0.1
        id: ecr-login

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@92e4d08fe1d24283952afa28216efa8f4ed5aeab # v3.1.2
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Plan for Lambda
        id: tf_plan
        env:
          TF_BACKEND_S3_BUCKET: ${{ secrets.TF_BACKEND_S3_BUCKET }}
        run: |
          make lambda-plan \
            APP_NAME=${{ matrix.app_name }} \
            ENV=${{ github.event.inputs.environment }} \
            ECR_REGISTRY=${{ steps.ecr-login.outputs.registry }} \
            LAMBDA_VAR_FILE_ARGS= \
            LAMBDA_ARGS='-var=github_repository=${{ github.repository }} -var=aws_region=${{ env.AWS_REGION }}'
        working-directory: ${{ env.TF_WORKING_DIR }}

      - name: Terraform Apply for Lambda
        if: github.event.inputs.action == 'apply'
        env:
          TF_BACKEND_S3_BUCKET: ${{ secrets.TF_BACKEND_S3_BUCKET }}
        run: |
          make lambda-apply-gha \
            APP_NAME=${{ matrix.app_name }} \
            ENV=${{ github.event.inputs.environment }} \
            ECR_REGISTRY=${{ steps.ecr-login.outputs.registry }}
        working-directory: ${{ env.TF_WORKING_DIR }}
